<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SHS Documentation</title>

    <!-- HighLight CSS -->
    <link rel="stylesheet" href="./vendor/highlight/css/default.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="./vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="./dist/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- jQuery -->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="./vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="./dist/js/sb-admin-2.min.js"></script>
    <!-- Angular -->
    <script src="./vendor/angular/angular.min.js"></script>
    <script src="./vendor/highlight/js/highlight.min.js"></script>
    <script src="./vendor/angular/angular-highlightjs.min.js"></script>
    <script src="./vendor/angular/angular-sanitize.min.js"></script>
    <script src="./controller.js"></script>
    <!-- Lodash -->
    <script src="./vendor/lodash/lodash.min.js"></script>
</head>

<body ng-controller="mainCtrl as $ctrl">
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; border-width: 0; position: fixed">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SHS Documentation</a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li ng-repeat="docTypeAndTitle in $ctrl.docList track by $index">
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> 
                                <span ng-bind="docTypeAndTitle.type" class="text-uppercase"></span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li ng-repeat="title in docTypeAndTitle.titleList track by $index">
                                    <a href="#" ng-bind="title"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row" ng-repeat="doc in $ctrl.docList track by $index">
                    <div class="col-lg-12">
                        <h2 class="page-header text-uppercase" ng-bind="doc.type"></h2>
                        <div ng-repeat="data in doc.dataList track by $index">
                            <div style="white-space: pre;" bind-html-compile="data | docObjConverter"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
